Source: file
Section: utils
Priority: standard
Maintainer: Daniel Baumann <daniel@debian.org>
Build-Depends: debhelper (>= 5.0.37.2), dpatch, autotools-dev, libtool, python, python-all-dev, python-all-dbg, zlib1g-dev
Standards-Version: 3.7.3
Homepage: http://www.darwinsys.com/file/
XS-Python-Version: all

Package: file
Section: utils
Priority: standard
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmagic1 (= ${binary:Version})
Description: Determines file type using "magic" numbers
 File tests each argument in an attempt to classify it. There are three sets of
 tests, performed in this order: filesystem tests, magic number tests, and
 language tests. The first test that succeeds causes the file type to be
 printed.
 .
 Starting with version 4, the file command is not much more than a wrapper
 around the "magic" library.

Package: libmagic1
Section: libs
Priority: standard
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: file
Description: File type determination library using "magic" numbers
 This library can be used to classify files according to magic number tests. It
 implements the core functionality of the file command.

Package: libmagic-dev
Section: libdevel
Priority: optional
Architecture: any
Depends: libmagic1 (= ${binary:Version})
Suggests: file
Description: File type determination library using "magic" numbers (development)
 This library can be used to classify files according to magic number tests. It
 implements the core functionality of the file command.
 .
 This package contains the development files.

Package: python-magic
Section: python
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Provides: ${python:Provides}
Suggests: python-magic-dbg
XB-Python-Version: ${python:Versions}
Description: File type determination library using "magic" numbers (python bindings)
 This library can be used to classify files according to magic number tests. It
 implements the core functionality of the file command.
 .
 This package contains the python bindings to query /etc/magic information for a
 given file in Python.

Package: python-magic-dbg
Section: python
Architecture: any
Priority: extra
Depends: python-magic (= ${binary:Version}), python-dbg, ${shlibs:Depends}
Description: File type determination library using "magic" numbers (python bindings/debug)
 This library can be used to classify files according to magic number tests. It
 implements the core functionality of the file command.
 .
 This package contains the python bindings to query /etc/magic information for a
 given file in Python, built for the python debug interpreter.
